/* App.css */

/* Global resets or styling */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #9c9da3; /* Dark background as per your screenshots */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page-container,
.wallet-selection-container,
.key-phrases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-page-container button,
.wallet-selection-container button,
.key-phrases-container button {
  margin: 8px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

.wallets-grid {
  display: flex;
  gap: 16px;
}

.wallet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #756c77c7;
  padding: 16px;
  border-radius: 8px;
}

.wallet-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

textarea {
  border-radius: 5px;
  width: 250px;
  height: 400px;
  margin: 16px 0;
  padding: 8px;
}


.logo-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* ` +*/
  width: 300px;
  height: 300px;
  margin-bottom: 40px;


}

.logo{
  width: 100%;
  height: 100%;
}


.key-phrases-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 8px;
}


img {
  height: 250px;
  width: 250px;
  border-radius: 4px;


}

.the-futer{
  position: absolute;
  bottom: 14px;
  margin-top: 0;
  margin: 0;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.trade-p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: bold;
  margin-top: 0px;

}

.crypto-and{
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 1000;
  position: absolute;
  bottom: 2px;
  margin: 0px  0px;
  
}

.trade-send{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

}


.terms , .privacy{

  font-family: Arial;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.connect-btn{
  border-radius: 50px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  font-weight: 500;
  width: 320px;
  height: 50px;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.by-div{
  margin-bottom: 40px;
}

   
.last-div{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-bottom: 70px;
}

.already{
  position: absolute;
  bottom: -31px;
}

body{
  margin-bottom: 10px;
}

@media(max-width: 600px){
  .wallets-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  .wallet-icon, 
  .wallet-card{
    padding: 0%;
    margin: 1.5px;
  }

  .wallet-card{
    width: 150px;
  }

  .logo{
    width: 120px;
    height: 120px;

  }
  .logo-container{
    padding: 0%;
    margin: 0%;
  }
}